.btn {
  display: inline-block;
  background: #fff;
  color: #549ff5e1;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

span {
  margin-left: 16px;
}

.span2 {
  margin-left: 6px;
}
.checkBoundsButton {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100%;
}

.checkBounds-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 50%;
  margin-left: 0;
}

.checkBounds-icon {
  font-size: 15px;
}

.checkBounds-text a {
  text-decoration: none;
  color: #0d59afe1;
  font-size: 15px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.checkBounds-text a:hover {
  background-color: #1a83ff;
  color: white;
}
